.topMargin{
    margin-top: -15px !important;
  }
  .topMarginplus{
    margin-top: 15px !important;
  }
  .topMargindown{
    margin-bottom: 15px !important;
  }
  h3{
    font-size: 1.5rem !important;
  }
  .purple{
    color: #767be5 !important;
  }