<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: left !important">
            {{event.Title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="cycling-runners">
                <a href="#!"><img class="img-responsive" [src]="event.Image" alt="" width="380" height="240" /></a>

            </div>
            <div class="topMarginplus">
                <h3 class="purple">{{event.Title}}</h3>
                <p>{{event.UserName}} created on {{event.Date}}</p>

            </div>
            <div class="shadow-box">
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"><i class="fas fa-calendar-alt"></i>
                                    {{event.Date | date: 'dd, MMMM yyyy'}}</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"><i class="far fa-clock"></i> {{event.StartTime}}</a>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar">
                                <a href="#!">
                                    <i class="fas fa-map-marker-alt"></i> {{event.Location}}
                                </a>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <div class="clearfix"></div>
                <hr style="margin-top: 0px !important; height: 0.2px !important;" />

                <ion-row class="topmargin">
                    <ion-col>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p class="ion-text-justify">{{event.Description}}</p>
                        </div>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <p class="purple">Event Details</p>
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row class="topMargin">

                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!">Location: {{event.Location}}</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"> Decipline: {{ event.Decipline }}</a></div>
                        </div>
                    </ion-col>

                </ion-row>
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!">Start Date: {{event.Date}}</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"> End Date: {{event.Date}}</a></div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!">Time Slot: 27-11-2019</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"> Total Distance: {{event.Distance}}</a></div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!">Average Speed: 10km/hr</a></div>
                        </div>
                    </ion-col>
                    <!-- <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"> Visibility: {{event.Visibility}}</a></div>
                        </div>
                    </ion-col> -->
                </ion-row>
                <!--<ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!">Start Date: 27-11-2019</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"> End Date: 27-11-2019</a></div>
                        </div>
                    </ion-col>
                </ion-row>-->
                <div class="clearfix"></div>
            </div>
        </div>
        <ion-row class="topMargin">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ion-button expand="block" fill="outline" (click)="joinEvent('J')" *ngIf="event.IsJoined !=1">
                    Join
                </ion-button>
                <ion-button expand="block" fill="outline" (click)="LeaveEvent(event.EventID)" *ngIf="event.IsJoined ==1">
                    Leave
                </ion-button>
                <ion-button expand="block" fill="outline" (click)="joinEvent('I')" *ngIf="event.IsJoined !=1">
                    {{event.IsInterested == "1"?'Not Interested':'Interested'}}</ion-button>
            </div>

        </ion-row>
        <ion-row class="topMarginplus topMargindown">
            <ion-col>
             <div class="col-md-6 col-sm-6 col-xs-6">
                <span (click)="viewparticipants(event.EventID)" class="purple">View participants</span>
            </div>
        </ion-col>
        <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6 ion-text-end">
                <span (click)="inviteFriends()" class="purple">Invite Friends</span>
            </div>
        </ion-col>
        </ion-row>
        <!-- <ion-row class="topmargin" *ngIf="participates.length > 0">
            <h4>
                Intrested
            </h4>
            <ion-list>
                <ion-item *ngFor="let item of participates">
                    {{item.UserName}}
                    <div class="item-note" slot="end">
                        <button ion-button expand="block" (click)="Addfriend(item.UserID)">{{item.IsFriend == "1"?'friends':'Add Friend'}}</button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-row> -->

    </div>
</ion-content>