

<ion-content>
    <div class="carousel-inner">
        <img src="assets/images/Runners.jpg" alt="Runners" />
        <div class="middle">
            <div class="centers">
                <span (click)="gotoEvents('view')">Find Events</span>
                <span  (click)="gotoEvents('create')">Create Your Event</span>
            </div>
        </div>
    </div>

    <div class="title" (click)="gotoEvents('create')">
        Create
        <br />
        Training
        <br />
        Sessions
    </div>
</ion-content>
