<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: left !important">
            View Friends
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row style="padding-left: 10px !important;">
        
            <div *ngFor="let friend of friends">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="John-Deo">
                        <img [src]="friend.UserImage" alt="" width="100" height="100"/>
                        <h5 style="margin-top: 5px !important;">{{friend.UserName}}</h5>
                    </div>
                </div>
            </div>

            <ion-row>
                <ion-col>
                    <div style="margin-top:20vh">
                        <div *ngIf="friends.length==0 && !loading" class="col-md-6 col-sm-6 col-xs-6" text-center>
                            <h6 class="msg">
                                You have no friends at the moment, click here to add few.
                            </h6>
                            <p>
                                <ion-button expand="block" fill="outline" (click)="goToInviteFriends()">
                                    Invite friends
                                </ion-button>
                            </p>
                        </div>
                        <h4 class="msg" *ngIf="loading">
                            <ion-spinner color="purple" *ngIf="loading" name="crescent"></ion-spinner>
                        </h4>
                    </div>
                </ion-col>
            </ion-row>
        
    </ion-row>
</ion-content>