<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            View Friends
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="John-Deo" *ngFor="let friend of friends">
                <img [src]="friend.UserImage" alt="" />
                <h5>{{friend.UserName}}</h5>
            </div>
        </div>

    </ion-row>
</ion-content>