<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: left !important">
            View Friends
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row style="padding-left: 10px !important;">
        
            <div *ngFor="let friend of friends">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="John-Deo">
                        <img [src]="friend.UserImage" alt="" width="100" height="100"/>
                        <h5 style="margin-top: 5px !important;">{{friend.UserName}}</h5>
                    </div>
                </div>
            </div>
        
    </ion-row>
</ion-content>