<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="#!">
                        <img class="img-responsive" src="assets/images/logo.jpg" alt="logo" /></a>
                </div>
                <div class="">
                <form class="register-box">
                    <div class="form-group">
                        <label>EMAIL</label>
                        <input type="text" class="form-control" placeholder="example@example.com" name="email" [(ngModel)]='postData.email'>
                    </div>
                    <div class="form-group">
                        <label>PASSWORD</label>
                        <input type="password" class="form-control" placeholder="***********" name="password" [(ngModel)]='postData.password'>
                    </div>
                    <div class="forgotpass"><a href="#!">Forgot Password?</a></div>
                    <ion-button expand="block" (click)='loginAction()'>Sign In</ion-button>
                </form>

                <div class="or">
                    <abbr>Or</abbr>
                    <span></span>
                </div>

                <div class="facbook-button">
                    <a href="#!">
                        <img src="assets/images/facbookicon.jpg" />
                        Continue with facebook</a>
                </div>
                <div class="google-button">
                    <a href="#!">
                        <img src="assets/images/googleicon.jpg" />
                        Continue with google</a>
                </div>
                
                <div class="al-account"><a href="#!">Don't have an account?</a></div>
                </div>

            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
