<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>changePassword</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="middle-box">



                <div class="register-box">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Old password*" [(ngModel)]="forgotPass.UserOldPassword" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="New password*" [(ngModel)]="forgotPass.UserNewPassword" [ngModelOptions]="{standalone: true}">
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" class="form-control" placeholder="Location id" name="first_name">
                    </div> -->




                    <ion-button expand="block" color="orange" (click)="changePassword()">Next</ion-button>
                </div>


            </div>

        </div>
    </ion-row>
</ion-content>