<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title style="text-align: left !important">
      {{tribe.Name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div>
      <div class="cycling-runners">
        <a href="#!"><img class="img-responsive" [src]="tribe.Image" alt="" width="380" height="240" /></a>

      </div>
      <div class="topMarginplus">
        <h3 class="purple">{{tribe.Name}}</h3>
        <p>{{tribe.UserName}} created on {{tribe.CreateDate}}</p>
        <p>{{tribe.TotalJoined}} Members Joined</p>

      </div>
      <div class="shadow-box">       
        
        <div class="clearfix"></div>
        <hr style="margin-top: 0px !important; height: 0.2px !important;" />

        <ion-row class="topmargin">
          <ion-col>

            <p class="ion-text-justify">{{ tribe.Description }}</p>
          </ion-col>
        </ion-row>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- <ion-row class="topMargin">
      <ion-col class="col-md-12">
        <ion-item>
          <ion-label>
            Name of the member
          </ion-label>
          <ion-icon name="add-circle" slot="end"></ion-icon>
          <ion-icon name="close-circle" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Name of the member
          </ion-label>
          <ion-icon name="add-circle" slot="end"></ion-icon>
          <ion-icon name="close-circle" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Name of the member
          </ion-label>
          <ion-icon name="add-circle" slot="end"></ion-icon>
          <ion-icon name="close-circle" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row class="topMarginplus topMargindown">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <ng-container
        *ngIf="isCreator; then logIn; else logOut">
        </ng-container>

        <ng-template #logIn>
          <ion-button expand="block" fill="outline" (click)="inviteFriends()">Invite Friends</ion-button>
            <ion-button expand="block" fill="outline" (click)="deleteEvent(tribe.TribeID)"> 
                Delete
            </ion-button>
        </ng-template>

        <ng-template #logOut>
                
                <ion-button expand="block" fill="outline" (click)="leaveTribe()">
                    Leave
                </ion-button>
                
        </ng-template>
        
    </div>
      <!-- <ion-col class="col-md-12">
        <ion-button expand="block" fill="outline" (click)="inviteFriends()">Invite Friends</ion-button>
      </ion-col>
      <ion-col class="col-md-12">
        <ion-button expand="block" fill="outline" (click)="presentAlertConfirm()">Leave Tribe</ion-button>
      </ion-col> -->
    </ion-row>
  </div>
</ion-content>