<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: left !important">
        Add Friends
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-row>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="John-Deo">
            <a href="#!"><img class="img-responsive" src="assets/images/John-Deo.png" alt="" /></a>
            <h5><a href="#!">John Deo</a></h5>
            <div class="add-frinds"><a href="#!">Add Friend</a></div>
        </div>
    </div>
</ion-row>
</ion-content>
