<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add Events
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-row>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="middle-box">

            <div class="stap_1">
                <ul class="stap_1_box">
                    <li class="active"><a href="create-new-event.html">1</a></li>
                    <li><a href="create-new-event2.html">2</a></li>
                    <li><a href="create-new-event3.html">3</a></li>
                </ul>
                <div class="borders"></div>
            </div>

            <form class="register-box">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Session Name" name="first_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Location" name="first_name">
                </div>

                <select class="mdb-select md-form colorful-select dropdown-primary2">
                    <option value="1">Select Region</option>
                    <option value="2">Select Region</option>
                    <option value="3">Select Region</option>
                    <option value="4">Select Region</option>
                </select>
                <select class="mdb-select md-form colorful-select dropdown-primary2">
                    <option value="1">Discipline</option>
                    <option value="2">Discipline</option>
                    <option value="3">Discipline</option>
                    <option value="4">Discipline</option>
                </select>
                <select class="mdb-select md-form colorful-select dropdown-primary2">
                    <option value="1">Event Type</option>
                    <option value="2">Event Type</option>
                    <option value="3">Event Type</option>
                    <option value="4">Event Type</option>
                </select>
                <select class="mdb-select md-form colorful-select dropdown-primary2">
                    <option value="1">Distance</option>
                    <option value="2">Distance</option>
                    <option value="3">Distance</option>
                    <option value="4">Distance</option>
                </select>

                <div class="clearder">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" placeholder="Start Date" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" placeholder="Start Time" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control" placeholder="End Time" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-defaults"><a href="create-new-event2.html">Next</a></button>
            </form>
        </div>

    </div>
</ion-row>
</ion-content>
