<ion-content>
    <form #form="ngForm">
        <ion-grid>
            <ion-row color="primary" class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="#!">
                                <img class="img-responsive" src="assets/images/logo.jpg" alt="logo" /></a>
                        </div>
                        <div class="" style="margin-top: 50px;">
                            <form class="register-box">
                                <div class="form-group">
                                    <label>ENTER YOUR REGISTERD EMAIL</label>
                                    <input type="text" autocapitalize="off" class="form-control" placeholder="example@example.com" name="email" [(ngModel)]='postData.email'>
                                </div>


                                <ion-button expand="block" (click)='forgotAction()' color='orange'>Reset Password</ion-button>
                            </form>
                            <div class="al-account" [routerLink]="['/login']">
                                <a href="#!">
                                    < Back</a>
                            </div>
                        </div>

                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>