.item-checkbox{
    ion-checkbox{
        button.item-cover{
            width: 15%;
        }
    }

    ion-label{
        button.item-cover{
            width: 85%;
            right: 0;
            left: auto;
        }
    }
}