<ion-content>
    <ion-slides pager=true>

        <ion-slide
            style="background: url('assets/images/running.jpg');height: 100vh;background-position: center;background-size:cover ;">
            <div class="title">
                Events
            </div>
            <div class="smallTitle">
                Find Your Next Event
            </div>
            <div class="skip" (click)="complete()"><a style="color: white!important">Skip</a></div>

        </ion-slide>

        <ion-slide
            style="background: url('assets/images/swimming.jpg');height: 100vh;background-position: center;background-size:cover ;">
            <div class="title">
                Train
            </div>
            <div class="smallTitle">
                Create training session
            </div>
            <div class="skip" (click)="complete()"><a style="color: white!important">Skip</a></div>
        </ion-slide>
        <ion-slide
            style="background: url('assets/images/triathlon.jpg');height: 100vh;background-position: center;background-size:cover ;">
            <div class="title">
                Tribe
            </div>
            <div class="smallTitle">
                Create your tribe
            </div>
            <div class="skip" (click)="complete()"><a style="color: white!important">Skip</a></div>
        </ion-slide>
        <!-- <div class="skip" (click)="complete()"><b>Skip</b></div> -->

    </ion-slides>
</ion-content>