<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: left !important">Tribes</ion-title>
        <ion-buttons slot="end" (click)="navigateToaddtribe()">
            <ion-button fill="clear">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- <ion-row style="text-align: center; background: #eeeeef; color: rgb(0, 0, 0);">
    <ion-col size="4" style="padding: 15px;" (click)="toggle('event')" [ngStyle]="eventStyle">
        <span> Events</span>
    </ion-col>
    <ion-col size="4" style="padding: 15px;" (click)="toggle('training')" [ngStyle]="trainingStyle">
        <span>Training</span>
    </ion-col>
    <ion-col size="4" style="padding: 15px;" (click)="toggle('training')" [ngStyle]="trainingStyle">
        <span>Training</span>
    </ion-col>
</ion-row> -->
<ion-segment (ionChange)="segmentChanged($event)" value='mytribes'>
    <ion-segment-button value="mytribes">
        <ion-label>My Tribes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="joined">
        <ion-label>Joined Tribes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="leaderboard">
        <ion-label>Leaderboard</ion-label>
    </ion-segment-button>
</ion-segment>
<ion-content>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div *ngFor="let tribe of tribes">
            <div class="cycling-runners">
                <a href="#!"><img class="img-responsive" [src]="tribe.Image" alt="" width="380" height="240" /></a>
                <div class="Race">
                    <span>{{tribe.Name}}</span> <b (click)="goToTribe(tribe.TribeID)"> View</b>
                </div>
            </div>
            <div class="shadow-box">
                <ion-row class="topMargin">
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar"><a href="#!"><i class="fas fa-calendar-alt"></i>
                                    {{tribe.CreateDate | date: 'dd, MMMM yyyy'}}</a></div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="calendar">&nbsp;</div>
                        </div>
                    </ion-col>

                </ion-row>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <ion-row>
        <ion-col>
            <div style="margin-top:35vh">
                <div *ngIf="tribes.length==0 && !loading" class="col-md-6 col-sm-6 col-xs-6 ion-text-center">
                    <h6 class="msg">
                        There are no Tribes at the moment, create the first one.
                    </h6>
                    <p>
                        <ion-button expand="block" fill="outline" (click)="createTribe()">
                            Create Tribe
                        </ion-button>
                    </p>
                </div>
                <h4 class="msg" *ngIf="loading">
                    <ion-spinner color="purple" *ngIf="loading" name="crescent"></ion-spinner>
                </h4>
            </div>
        </ion-col>
    </ion-row>

</ion-content>