<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: left !important;">
      All Events
    </ion-title>
    <ion-buttons slot="end" (click)="openFilter()">
      <ion-button fill="clear" color="light">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div *ngFor="let event of events">
      <div class="cycling-runners">
        <img
          class="img-responsive"
          [src]="event.Image"
          alt=""
          width="380"
          height="240"
          (click)="getDetails(event.EventID)"
        />
        <div class="Race">
          <span>{{event.Title}}</span>
          <!-- <b (click)="getDetails(event.EventID)"> View</b> -->
        </div>
      </div>
      <div class="shadow-box">
        <ion-row class="topMargin">
          <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="calendar">
                <a href="#!"
                  ><i class="fas fa-calendar-alt"></i> {{event.Date | date: 'dd,
                  MMMM yyyy'}}</a
                >
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="calendar">
                <a href="#!"
                  ><i class="far fa-clock"></i> {{event.StartTime}}</a
                >
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="topMargin">
          <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="calendar">
                <a href="#!">
                  <i class="fas fa-map-marker-alt"></i> {{event.Location}}
                </a>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <div class="clearfix"></div>
        <hr style="margin-top: 0px !important; height: 0.2px !important;" />
        <ion-row class="topMarginp">
          <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <span
                (click)="viewparticipants(event.EventID)"
                *ngIf="event.TotalJoined !=0 "
                >{{event.TotalJoined}} joined already!</span
              >
            </div>
          </ion-col>
          <ion-col>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <span
                (click)="viewparticipants(event.EventID)"
                *ngIf="event.TotalInterested !=0 "
                >{{event.TotalInterested}} interested</span
              >
            </div>
          </ion-col>
        </ion-row>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <ion-row>
    <ion-col>
      <div style="margin-top: 35vh;">
        <div
          *ngIf="events.length==0 && !loading"
          class="col-md-6 col-sm-6 col-xs-6"
          text-center
        >
          <h6 class="msg">
            No events available in your region, create your first event instead.
          </h6>
          <p>
            <ion-button expand="block" fill="outline" (click)="goToCreate()">
              Create Event
            </ion-button>
          </p>
        </div>
        <h4 class="msg" *ngIf="loading">
          <ion-spinner
            color="purple"
            *ngIf="loading"
            name="crescent"
          ></ion-spinner>
        </h4>
      </div>
    </ion-col>
  </ion-row>
  <!-- <div style="margin-top:35vh">
        <h4 class="msg" *ngIf="events.length==0 && !loading">No Events Available At The Moment</h4
        <h4 class="msg" *ngIf="loading">
            <ion-spinner color="purple" *ngIf="loading" name="crescent"></ion-spinner>
        </h4>
    </div> -->
</ion-content>
<div class="filterPane slideInRight animated" *ngIf="filterPane">
  <ion-grid padding="10">
    <ion-row align-items-center>
      <ion-col size="2"></ion-col>
      <ion-col style="text-align: center; color: white;">
        <h6 color="light">Search Events</h6>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" (click)="openFilter()" color="light">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="clearfix"></div>
    <ion-row style="margin-top: 20px;">
      <span style="color: white; padding: 5px;">Select Discipline</span>
      <select
        class="mdb-select md-form colorful-select dropdown-primary2"
        placeholder="Parent Category"
        [(ngModel)]="filterData.parentType"
        [ngModelOptions]="{standalone: true}"
      >
        <option
          *ngFor="let parentType of parentTypes "
          value="{{parentType.TypeID}}"
        >
          {{parentType.TypeName}}</option
        >
      </select>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      <ion-item color="purple" style="width: 100%;">
        <ion-label position="floating">Start date</ion-label>
        <ion-input type="date" [(ngModel)]="filterData.StartDate"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row> </ion-row>
    <ion-row> </ion-row>
    <ion-row>
      <ion-item color="purple" style="width: 100%;">
        <ion-label position="floating">End date</ion-label>
        <ion-input type="date" [(ngModel)]="filterData.EndDate"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      <ion-col size="6">
        <ion-button
          color="light"
          fill="outline"
          expand="block"
          (click)="getFilter('clear')"
          >Clear</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button color="light" expand="block" (click)="getFilter('filter')"
          >Apply</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
