<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: left !important">Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of notifications">

            {{item.NotificationTitle}}
            <div class="item-note" slot="end">
                {{item.NotificationDate}}
            </div>
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-col>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:35vh" text-center>
                <h6>You do not have any notifications</h6>
            </div>
        </ion-col>
    </ion-row>
</ion-content>