ion-item {
    --background: #efefef;
    --border-radius: 5px;
    --border-width: 0px;
    margin-bottom: 1em;
    width: 100%
}
.topMargin{
    margin-top: 25px !important;
  }

  .topMarginsm{
    margin-top: 10px !important;
  }