<ion-content padding=10>

    <ion-row>

        <img class="img-responsive" style="margin: 0 auto;" src="./assets/images/logo.jpg" alt="logo" />

    </ion-row>
    <div class="clearfix"></div>
    <ion-row class="topMargin">
        <ion-col>
            <strong>Select Your Discipline</strong>
        </ion-col>
    </ion-row>
    <div class="clearfix"></div>
    <ion-row>
        <ion-col>
            <label class="checkbox">
                Running
                <input type="checkbox" name="is_company">
                <span class="checkroundcheck"></span>
            </label>
        </ion-col>
        <ion-col> <label class="checkbox">
                Cycling
                <input type="checkbox" name="is_company">
                <span class="checkroundcheck"></span>
            </label></ion-col>

    </ion-row>
    <ion-row>
        <ion-col><label class="checkbox">
                Swimming
                <input type="checkbox" name="is_company">
                <span class="checkroundcheck"></span>
            </label>
        </ion-col>
        <ion-col> <label class="checkbox">
                Triathlon
                <input type="checkbox" name="is_company">
                <span class="checkroundcheck"></span>
            </label></ion-col>

    </ion-row>
    <div class="clearfix"></div>
    <ion-row>
        <ion-item>
            <ion-label>Select</ion-label>
            <ion-select okText="Okay" [value]="" cancelText="Dismiss">
                <ion-select-option value="1">Today</ion-select-option>
                <ion-select-option value="2">This Week</ion-select-option>
                <ion-select-option value="3">This Month</ion-select-option>

            </ion-select>
        </ion-item>

    </ion-row>
    <div class="clearfix"></div>
    <ion-row>
        <ion-col>
            OR Search by date
        </ion-col>
    </ion-row>
    <div class="clearfix"></div>
    <ion-row>
        <div style="width: 49%">
            <div class="form-group">
                <div class='date' id='datetimepicker1'>
                    <input type='text' class="form-control" value="Start" onfocus="(this.type='date')" onblur="(this.type='text')" />
                    <span class="addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div style=" width: 49%; margin-left: 5px !important;">
            <div class="form-group">
                <div class=' date' id='datetimepicker2'>
                    <input type='text' class="form-control" value="End" onfocus="(this.type='date')" onblur="(this.type='text')"/>
                    <span class="addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </ion-row>
    <!-- <ion-row>
        <div style=" width: 50%">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='date' class="form-control" placeholder="2019/11/02" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </ion-row> -->

    <ion-button color="orange" expand="block" (click)="gotoHome()"> Search</ion-button>


</ion-content>